.aceptarOrden {
  max-width: 300px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--azul_principal);
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--negro);
  padding: 30px;
  position: relative;

  textarea {
    max-width: 100vw;
    max-height: fit-content;
    text-align: center;
    opacity: 80%;
    margin-bottom: 15px;
    padding: 3px;
    box-shadow: 0px 2px 2px var(--shadow-color);
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
  }

  input {
    display: inline;
    text-align: center;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    opacity: 50%;
  }

  button {
    display: inline;
    color: var(--azul_clarisimo);
    background-color: inherit;
    border-radius: 8px;
    max-width: 100%;
    max-height: fit-content;
    box-shadow: 0px 1px 1px 1px var(--negro);
    border: none;
padding: 0.5em 0;
    &:hover {
      background-color: var(--azul_marino);
    }

    &:active {
      transform: scale(0.95);
    }

    &:first-child {
      display: inline;
      width: 3em;
      position: absolute;
      right: 0;
      top: 0;
      margin: .5em;
      z-index: 1;
    }
  }

  div {
    display: none;
  }
}