@import url("style.css");
@import url("aside.css");
@import url("header_y_container.css");

aside {
    @media(max-width: 650px) {
        display: block;
    }
}

section.header_y_container {
    .contenidoRecuadro {
        .botonera {
            display: grid;
            grid-template-columns: repeat(3, minmax(180px, 1fr));
            gap: 20px;
            max-width: 90%;
            justify-content: center;
            padding: 20px;

            @media (max-width: 900px) {
                grid-template-columns: repeat(3, minmax(150px, 1fr));
                max-width: calc(100vw - 45%);
                height: 80%;
            }

            @media (max-width: 800px) {
                grid-template-columns: repeat(2, 1fr);
                width: 70%;
                max-width: (100vw - 25%);
            }

            @media (max-width: 700px) {
                padding: 10px;
                margin: 0;
                width: 90%;
            }

            @media (max-width: 649px) {
                max-width: (100vw - 40%);
                height: 70vh;
            }

            div {
                background-color: var(--azul_oscuro);
                border: 4px outset var(--azul_claro);
                border-radius: 8px;
                box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.5);
                color: var(--blanco);
                display: grid;
                place-content: center;
                min-width: 32%;
                /* min-height: 18%; */
                
                &:hover {
                    cursor: pointer;
                    filter: brightness(60%);
                }

                &:active {
                    transform: scale(95%);
                }

                a {
                    color: var(--blanco);
                    font-size: 1em;
                    display: grid;
                    place-items: center;
                    text-align: center;
                    padding: 20px;
                }

                @media(max-width: 900px) {
                    padding: 20px;
                    font-size: 0.9em;
                }

                @media(max-width: 650px) {
                    padding: 5px;
                    font-size: 0.7em;
                } 

                &:hover {
                    color: var(--azul_marino);
                }

                &:nth-child(odd) {
                    background-color: var(--azul_marino);
                }

                @media (max-width: 800px) {
                    &:nth-child(odd) {
                        background-color: var(--azul_oscuro);
                    }

                    &:nth-child(1),
                    &:nth-child(4),
                    &:nth-child(5) {
                        background-color: var(--azul_principal);

                    }
                }
            }
        }
    }
    
}